body{
    background-color: black;
}

section{
    display:flex;
    flex-wrap: wrap;
    margin-left: 260px;
    min-height: 87vh;
}

h1{
    font-family: sans-serif;
    margin-top: 55px;
    font-size: 45px;
}

.card-img-top{
    width: 310px;
    height: 440px;
    border-radius: 8px;
    margin-right: 80px;
}

iframe{
    width: 850px;
    height: 412px;
    border-radius: 8px;
    margin-top: 135px;
}

.descricao {
    width: 1320px;
}

.generos {
    display: flex;
    margin-top: 25px;
}

span {
    border: 2px gray solid;
    margin-right: 25px;
}